{% extends "base.html" %}

{% block title %}
    Document
{% endblock title %}
{% block content %}
    <main>
        <header>
            <h1>Create Task</h1>
        </header>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
